<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chatting room</title>
  </head>
  <body>
    <div>text</div>
    <script>
      const webSocket = new WebSocket("ws://localhost:8005");
      webSocket.onopen = function () {
        console.log("서버와 웹소켓 연결 성공!");
      };
      webSocket.onmessage = function (event) {
        console.log("client message from server : ", event.data);
        webSocket.send("클라이언트에서 서버로 답장을 보냅니다");
      };
    </script>
  </body>
</html>
