{% extends 'layout.html' %} {% block contents %}
<fieldset>
  <legend>채팅방 생성</legend>
  <form action="/room" method="post">
    <div><input type="text" name="title" placeholder="방 제목" /></div>
    <div>
      <input
        type="number"
        name="max"
        placeholder="수용 인원(최소2명)"
        min="2"
        value="10"
      />
    </div>
    <div><input type="password" name="password" placeholder="비밀번호" /></div>
    <div><button type="submit">생성</button></div>
  </form>
</fieldset>
{% endblock %}
